.lista-amarela {
    background-color: #ffd000;
}
.lista-impar {
    text-transform: uppercase;
}
.lista-par {
    background-color: #2b9348;
}
h1, h3 {
    color: #821415;
}
h1.principal {
    font-size: 40px;
}
li {
    font-size: 20px;
}
.negrito{
    font-weight: bold;
}
.azul {
    color: #002855;
}
.fundo-rosa {
    background-color: #f07167;
}
.starck-dev:hover {
    background-color: #ffd000;
}
.w3s-trybe:hover {
    background-color: #8ac926;
}
.mdn:hover {
    background-color: black;
    color: white;
}
