.super-mario {
    width: 200px;
    position: absolute;
    z-index: 1;
    left: 50px;

  }
  
  .goomba {
    width: 100px;
    position: absolute;
    z-index: 2;
    top: 400px;
    left: 100px;
  }
  
  .baloon {
    width: 240px;
    position: absolute;
    z-index: 3;
    top: 600px;

  }
  
  .speach {
    font-size: 20px;
    position: absolute;
    top: 620px;
    z-index: 5;
    left: 20px;
  }
  
  .bowser {
    width: 400px;
    position: absolute;
    z-index: 4;
    top: 650px;
    left: 235px;
  }